<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BuildTasks Suite">

  <test verbose="1" name="Whence Java tests" annotations="JDK">
    <groups>
      <run>
        <include name="whencejava"/>
        <exclude name="failed"  />
      </run>
    </groups>
      <packages>
            <package name="com.nurflugel.*" />
      </packages>
  </test>

  <test verbose="1" name="Todos tests" annotations="JDK">
    <groups>
      <run>
        <include name="todos"/>
        <exclude name="failed"  />
      </run>
    </groups>
      <packages>
            <package name="com.nurflugel.*" />
      </packages>
  </test>

  <test verbose="1" name="ValidateProperties tests" annotations="JDK">
    <groups>
      <run>
        <include name="validateProperties"/>
        <exclude name="failed"  />
      </run>
    </groups>
      <packages>
            <package name="com.nurflugel.*" />
      </packages>
  </test>



</suite>
